<div class="room-module">

  <div class="header">
    <div class="header-texto">
      <div class="header-texto-modulo">Recursos Humanos</div>
      <div class="header-texto-jogador">JOGADOR</div>
    </div>
  </div>

  <div class="table">
    <div class="table-module">
      <div></div>
      <div class="table-module-top">
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
      </div>
      <div></div>

      <div class="table-module-left">
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
      </div>

      <div class="table-module-center">
        <app-mesa></app-mesa>
      </div>

      <div class="table-module-right">
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
      </div>

      <div></div>
      <div class="table-module-bottom">
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
        <app-jogador></app-jogador>
      </div>
      <div></div>

    </div>

  </div>

  <div>
    <app-cartas></app-cartas>
  </div>
</div>

