* {
  box-sizing: border-box;
  outline-color: #74b3ff;
}

.room-module {
  margin: auto;
  padding: 0 2.4rem;
}

.header {
  height: 4.8rem;
  align-content: center;
  align-items: center;
}

.header-texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-texto-modulo {
  padding: 0 .8rem;
  font-size: 2.25rem;
  color: #1a2935;
  font-weight: 700;
  height: 3.6rem;
  line-height: 1.4em;
  max-width: 100%;
}

.header-texto-jogador {
  padding: 0 .8rem;
  font-size: 1.25rem;
  color: #1a2935;
}

.table {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 0;
  width: 100%;
  unicode-bidi: isolate;
}

.table-module {
  grid-template-rows: 8rem 1fr 13.4rem;
  grid-template-columns: 10.4rem 1fr 10.4rem;
  grid-template-areas:"left top right" "left table right" "left bottom right";
  grid-gap: .8rem;
  margin: 0 auto;
  min-height: 200px;
  width: auto;
  display: inline-grid;
}

.table-module-top {
  align-items: stretch;
  grid-area: top;
  padding-bottom: .8rem;
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
}

.table-module-left {
  grid-area: left;
  flex-direction: column-reverse;
  padding: 8rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table-module-right {
  grid-area: right;
  flex-direction: column-reverse;
  padding: 8rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table-module-bottom {
  align-items: stretch;
  grid-area: bottom;
  padding: 1.2rem 0 .4rem;
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
}

.table-module-center {
  grid-area: table;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-lista-de-tarefas {
  position: absolute;
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

.card-lista-de-tarefas-estilo {
  width: 100%;
  height: 70%;
  border: 2px solid #3993ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
  0 8px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.tarefa-container {
  width: 100%; /* Defina a largura desejada */
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Esconde o excesso de conteúdo */
  text-overflow: ellipsis;
  margin-top: 2px;
  margin-bottom: 2px;
}
